body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: rgb(242, 242, 242);

  margin: 0;
  padding: 0;
  overflow: hidden; /* Sprečava scroll zbog particles.js */
}

.container {
  max-width: 900px;
  min-height: 600px;
  max-height: 850px;
  margin: 0 auto;
  border: 1px solid #556dfd;
  border-radius: 10px;
  background: #fff;
  z-index: 99;

  position: relative; /* Osigurava da je container iznad particles.js */
  z-index: 1; /* Container mora biti iznad particles.js */
  /* background: rgba(255, 255, 255, 0.8); Poluprozirna bela pozadina */
  border-radius: 10px;
  padding: 20px;
  margin-top: 50px;
  box-shadow: 0 5px 20px -6px #333;
}

header .logo svg {
  fill: #3c74fe;
  width: 175px;
  height: auto;
}



#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Particles.js je u pozadini */
  background-color: #f2f2f2; /* Dodaj pozadinsku boju za testiranje */
}


/* ---------------------------- Kolicina pronadjenih ean kodova ---------------------------- */
.description strong {
  color: #3c74fe; /* Boja za broj EAN kodova */
  font-size: 1.2em; /* Veća veličina teksta */
}


/* ---------------------------- Input polje za url formu ---------------------------- */
.form-control {
  box-shadow: 0 5px 10px -8px rgb(51 51 51 / 60%);
}



/* ---------------------------- Copy text button ---------------------------- */
.result-container {
  background-color: #000000; /* Crna pozadina */
  color: #ffffff; /* Bela boja teksta */
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 7px 7px -3px rgb(51 51 51 / 60%);
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
  /* padding: 15px; */
}
.result-container .header {
  min-height: 40px;
  cursor: pointer;
}
.result-container .header span {
  display: inline-block;
  width: 20px;
  height: auto;
  fill: #fff;
  margin-left: 5px;
}
.result-container .body #idsList {
  max-height: 200px;
  overflow: auto;
  scrollbar-width: auto;
  scrollbar-color: #3e82da #000000;
}


#copyButton p {
  font-size: 12px; 
  color: #ffffff; 
  cursor: pointer;
}
/* @keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
} */

/* .pulsate {
  animation: pulsate 1s infinite;
  animation-iteration-count: 1;
} */


#copy #front, #copy #back {
  -webkit-transform-origin: center;
  transform-origin: center;
}
#copy #front {
  -webkit-animation: copyfrontAnimation 1.2s linear infinite;
  animation: copyfrontAnimation 1.2s linear infinite;
}
#copy #back {
  -webkit-animation: copybackAnimation 1.2s linear infinite;
  animation: copybackAnimation 1.2s linear infinite;
}

@keyframes copyfrontAnimation {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(150px, -150px);
  }
  45% {
    transform: translate(150px, -150px);
  }
  65% {
    transform: translate(0, 0);
  }
}
@keyframes copybackAnimation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
}





/* ---------------------------- PRELOADER ---------------------------- */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9); /* Poluprozirna bela pozadina */
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Preloader mora biti iznad svih elemenata */
}

.loader{
  position: relative;
  display: flex;
}
.loader span{
  position: relative;
  width: 250px;
  height: 250px;
  background: #eaeef0;
  border: 6px solid #eaeef0;
  border-radius: 50%;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 1),
  8px 8px 25px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.loader span::before{
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.5),
  inset -5px -5px 15px rgba(255, 255, 255, 1);
}
.loader span::after{
  content: '';
  position: absolute;
  inset: 40px;
  background: #eaeef0;
  border: 3px solid #eaeef0;
  border-radius: 50%;
  box-shadow: inset -8px -8px 25px rgba(255, 255, 255, 1),
  8px 8px 25px rgba(0, 0, 0, 0.25),
  inset 3px 3px 10px rgba(0, 0, 0, 0.15),
  inset -1px -1px 15px rgba(255, 255, 255, 1);
}
.loader span i{
  position: absolute;
  inset: 0;
  border-radius: 50%;
  filter: blur(5px);
  background: linear-gradient(#42abff, #ff4f8b, #ffeb3b);
  animation: animate 1s linear infinite;
}
@keyframes animate {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}
.rocket{
  position: absolute;
  inset: 50px;
  z-index: 10;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.rocket .fa-rocket{
  position: absolute;
  color: #ff518c;
  font-size: 3.5em;
  -webkit-text-stroke: 2px #000;
  animation: animateRocket 0.2s linear infinite;
}
@keyframes animateRocket {
  0%,100%{
      transform: translate(0,0) rotate(-45deg);
  }
  50%{
      transform: translate(0,3px) rotate(-45deg);
  }
}
.fa-cloud{
  position: absolute;
  top: calc(35px * var(--i));
  left: calc(45px * var(--i));
  font-size: 2em;
  color: #fff;
  -webkit-text-stroke: 2px #000;
  animation: animateClouds 1s linear infinite;
  animation-delay: calc(-0.5s * var(--i));
}
@keyframes animateClouds {
  0%{
      transform: translateY(calc(-35*5px));
  }
  100%{
      transform: translateY(calc(35*5px));
  }
}